# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.settings/
Doc/
src/doxygen_sqlite3.db
/.pydevproject
*.dtbo
/Debug/
/Debug (Local)/
/Pendulum/
/Release/
/Websocket/
doc/html/
doc/doxygen_sqlite3.db