# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dtbo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS X filesystem junk
.DS_*

# Eclipse settings
.settings/
/.pydevproject

# Compiled documentation
doc/html/
doc/doxygen_sqlite3.db
src/doxygen_sqlite3.db


# Build directories
/Debug (Local)/
/Release/
/Websocket/
/LQR/
/Velocity/
/Debug - Basic/
/Debug - LQR/
/Debug - Velocity/

# Project binary
pendulum*
